<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoryAppSubmission"
        tools:targetApi="31">
        <activity
            android:name=".userinterface.maps.MapsOfStory"
            android:exported="false" />
        <activity
            android:name=".HomeSweetHomeMenu"
            android:exported="false" />
        <activity
            android:name=".userinterface.splashscreenofmystoryapp.SplashScreenOfMyStoryApp"
            android:exported="false" />
        <activity
            android:name=".userinterface.settingofmystoryapp.SettingAppUser"
            android:exported="false" />
        <activity
            android:name=".userinterface.registerofmystoryapp.AccountRegistration"
            android:exported="false" />
        <activity
            android:name=".userinterface.onboardingpageofmystoryapp.OnBoardingPageOfMyStoryApp"
            android:exported="false" />
        <activity
            android:name=".userinterface.homesweethome.HomeSweetHome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userinterface.detailofuserstory.DetailOfMyPastStory"
            android:exported="false" />
        <activity
            android:name=".userinterface.loginofmyappstory.MainActivity"
            android:exported="false" />
        <activity
            android:name=".userinterface.addingstoryofmine.TheCameraX"
            android:exported="false" />
        <activity
            android:name=".userinterface.addingstoryofmine.AddStoryOfMine"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.dicoding.picodiploma.storyappsubmission"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAPI8KzJLOiIBDfoPqWiIroVmSJmJ0TLAc" />
    </application>

</manifest>